<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUNDLE_ID</key>
	<string>com.anton.melnychuk.AutoPerformanceTracker</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.anton.melnychuk.AutoPerformanceTracker</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>autoperftracker</string>
				<string>$(GOOGLE_REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>CLIENT_ID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>GADApplicationIdentifier</key>
	<string>$(ADMOB_APP_ID)</string>
	<key>NSPrivacyPolicyURL</key>
	<string>https://antonmelken.github.io/auto-performance-tracker/datenschutz.html</string>
	<key>OpenChargeMapAPIKey</key>
	<string>$(OPEN_CHARGE_MAP_API_KEY)</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PostHogAPIKey</key>
	<string>$(POSTHOG_API_KEY)</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>$(GOOGLE_REVERSED_CLIENT_ID)</string>
	<key>SupabaseAnonKey</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SupabaseURL</key>
	<string>$(SUPABASE_URL)</string>
	<key>TankerkoenigAPIKey</key>
	<string>$(TANKERKOENIG_API_KEY)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
</dict>
</plist>
